
<div class="grid-content" :class="{hidden: calculating}" v-el:content>
    <div class="resize-line" :style="{left : resizeLine.left + 'px'}" v-show="resizeAble" @mouseup.stop="resizeStop($event)"></div>
    <div class="grid-head" :style="{ width : container_w + 'px'}" @mousemove="resize($event)">
        <div class="head-box head-scrollbar">
            <table class="table table-hover table-bordered table-striped head-table" :style="{width: table_w + 'px'}" :class="tableClass" @mouseup.stop="resizeStop">
                <thead>
                    <tr>
                        <td v-if="multiple" style="width : 50px;">
                            <div class="head-content">
                                <input type="checkbox" v-model="chkAll" :disabled="count == 0">
                            </div>
                        </td>
                        <td v-if="(showIndex && !multiple) || colSelect" class="head-index" style="width : 50px;" >
                            <div class="head-content">
                                <span>#</span>
                            </div>
                        </td>
                        <th :id="initId(col)" :style="{width: colWidths[col] + 'px'}"  :class="{ 'resize-tr': resizeAble, 'sortable': sortColumns[col]}" v-for="col in defaultColumns"  >
                            <span class="head-resize" @mousedown.stop="resizeStart(col, $event)" @click.stop>&nbsp;</span>
                            <div class="head-content" :title="col | colName" @click="sort(col)">
                                {{col | colName}}
                                <span class="head-sortable" v-show="sortColumns[col] && orderBy != '' && col == orderBy">
                                  <span class="glyphicon glyphicon-triangle-top" :class="{ 'sort-disabled': !ascending}"></span>
                                  <span class="glyphicon glyphicon-triangle-bottom" :class="{ 'sort-disabled': ascending}"></span>
                                </span>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="grid-body" :style="{ width : container_w  + 'px'}">
        <div class="body-box" :class="{ 'box-borderd': table_w < container_w, 'box-empty': count == 0}">
            <table class="table table-hover table-bordered table-striped grid-table" :style="{width: table_w + 'px'}" :class="tableClass">
                <tbody v-el:tbody>
                <tr class="grid-loading" v-if="!loaded">
                    <td colspan="{{colSpan}}">
                        <ul class="loading-content">
                            <li class="loading-circle"></li>
                            <li class="loading-circle"></li>
                            <li class="loading-circle"></li>
                        </ul>
                    </td>
                </tr>

                <tr v-for="rec in records" v-if="loaded">
                    <td v-if="multiple && !rec.shown" style="width: 50px">
                        <div class="head-content">
                            <input type="checkbox" v-model="chkIds" value="{{rec[primaryKey]}}" @click="">
                        </div>
                    </td>
                    <td v-if="((showIndex && !multiple) || colSelect) && !rec.shown" class="grid-arrow" style="width: 50px">
                        <a v-if="colSelect" href="javascript:void(0);" :class="collapseClass(rec)" @click="collapse(rec)"></a>
                        <span v-else>{{rec._grid_index}}</span>
                    </td>
                    <td :data-tr-id="'td_' + initId(col)" v-for="col in defaultColumns" v-if="!rec.shown" :style="{width: colWidths[col] + 'px'}" v-html="rec[col] | tplRender col rec | highlight | xssFilter ">
                    </td>
                    <td id="grid-detail" class="detail-wrap" v-if="rec.shown" colspan="{{colSpan}}" v-html="detail">
                    </td>
                </tr>
                <tr v-if="loaded && count == 0">
                    <td colspan="{{colSpan}}">
                        无数据显示
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<nav class="grid-footer">

    <ul class="pagination grid-pagination" v-if="showPage">
        <li :class="{'pagination-disabled': page == 0 || pageChunk == 1}">
            <a href="javascript:void(0);" @click=" (page != 0 && pageChunk != 1) && (setChunk(-1))"><<</a>
        </li>

        <li :class="{'pagination-disabled': page == 0 || page == 1}">
            <a href="javascript:void(0);" @click="(page != 1 && page != 0) && (setPage(page - 1))"><</a>
        </li>

        <li>
            <span>共{{totalPage}}页，跳转至</span>
            <input class="pagination-page" type="text" size="2" v-model="pageModel" @keyup.13.stop.prevent="gotoPage()" number lazy>
        </li>

        <li :class="{'pagination-disabled': page == 0 || page == totalPage }">
            <a href="javascript:void(0);" @click="(page != 0 && page != totalPage) && (setPage(page + 1))">></a>
        </li>

        <li :class="{'pagination-disabled': page == 0 || pageChunk == totalChunk}">
            <a href="javascript:void(0);" @click="(page != 0 && pageChunk != totalChunk) && (setChunk(1))">>></a>
        </li>
    </ul>

    <span class="pagination-info">
        共{{count | formatterNum}}记录
    </span>

</nav>